In [1]:
import pandas as pd 
import numpy as np
from catboost import CatBoostClassifier

In [2]:
df_evaluation = pd.read_csv("./Gameplay_Data_Evaluation.csv")
df_evaluation

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3
0,1377582EB1AFE28F28AD64058F911D91,1.608350e+12,NaN,NaN,NaN,NaN,NaN,NaN
1,1992260F4E6BD26D4AFB38CCA2CCFF7C,1.608370e+12,NaN,NaN,NaN,NaN,NaN,NaN
2,6B9DC6F7D89E588920D075145D219DB5,1.609450e+12,NaN,NaN,NaN,NaN,NaN,NaN
3,E52285CA2EAD4BA60833D69FC3074A98,1.608980e+12,NaN,NaN,NaN,NaN,NaN,NaN
4,8019DE142932B081761809ED13434F57,1.609420e+12,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
7114,3D7CF9B13CD57CAE2FD51651F14627F8,1.608740e+12,NaN,NaN,NaN,NaN,NaN,NaN
7115,20F130C50FAEF6FFA37EA125D4876BAB,1.608820e+12,NaN,NaN,NaN,NaN,NaN,NaN
7116,A8C85EE34165EDEF18DA5269EAD69EDC,1.609310e+12,NaN,NaN,NaN,NaN,NaN,NaN
7117,BE5C7DB238680DF43F65089F3786287A,1.607590e+12,NaN,NaN,NaN,NaN,NaN,NaN
7118,52369DBF3FE9CCFADF58C8B7DE11D917,1.609270e+12,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_evaluation.drop_duplicates().shape

(7119, 8)

In [4]:
df_evaluation.Uid.nunique()

7119

In [5]:
df_demographic = pd.read_csv("Demographic.csv")
df_demographic.drop_duplicates(inplace = True)
df_demographic.head()

,Uid,Installed_At,Connection_Type,Cpu_Type,Network_Type,Device_Manufacturer,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type
0,24CC6E6BA192D1A1EEB320E77F0BF2EE,1608868973,Cellular,arm64-v8a,0,Realme,Airtel,in,Karnataka,Bengaluru,560002,en,XT,phone
1,2762F8FB0C406E59DC9D665A4CCEE468,1608869117,Cellular,armeabi-v7a,0,Tecno,Jio,in,Bihar,Patna,800001,en,TECNOKD7h,phone
2,0CF35DBD42AC7013E1A295B5C8E78B0A,1608869225,Cellular,arm64-v8a,0,Xiaomi,Idea Cellular,in,Tamil Nadu,Chennai,600012,en,MiA3,phone
3,E829EB3C5A9890718794301564007D91,1608869281,Cellular,arm64-v8a,13,vivo,Vodafone India,in,Tamil Nadu,Salem,636007,en,vivo1820,phone
4,5BF3652D06CFAF7E811416F1647E597F,1608869379,Cellular,arm64-v8a,13,Oppo,Jio,in,National Capital Territory of Delhi,New Delhi,110008,en,A5s,phone

In [9]:
df_eval = pd.merge(df_evaluation,df_demographic,how= 'left',left_on = 'Uid',right_on = 'Uid')
df_eval.shape

(7123, 21)

In [10]:
df_eval[df_eval.ISP.isna()]

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Installed_At,Connection_Type,...,Network_Type,Device_Manufacturer,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type
84,39FD4A46B565D55389182C9A36426349,1.609420e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,BE2136A2946556796076BDBA710583A0,1.609390e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,FBC9BD631CC758F2F7940626CC1B6B1D,1.609270e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,ED146E99EF6FC0D6F6E66AB1753ACD5B,1.609240e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,EAC5E072B1BFFBB4E26114A40AE54C0B,1.608960e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814,743BC42D11F2CF596F05353F16076796,1.608810e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6815,5F08DB72DDDCE4989C34ACD364641488,1.609320e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6824,5A860CF98B8FB7CB57F71A30B4B28529,1.609230e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6854,1CD850F63610967E3A1E033BF67A51E2,1.609440e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7020,AC16DFDB28F65D5054FCF7DE46E69EDA,1.608520e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_WBalance = pd.read_csv("Wallet_Balance.csv")
df_WBalance.head()

                                Uid                 Timestamp   Wallet_Balance
0  929A32AC6F614F29BEEA8601BDF0676C   2020-11-12 06:28:44.000             10.0
1  929A32AC6F614F29BEEA8601BDF0676C   2020-11-12 06:32:19.000             20.0
2  929A32AC6F614F29BEEA8601BDF0676C   2020-11-12 06:32:38.000             10.0
3  929A32AC6F614F29BEEA8601BDF0676C   2020-11-12 06:34:05.000             20.0
4  929A32AC6F614F29BEEA8601BDF0676C   2020-11-12 06:34:37.000             15.0

In [28]:
df_eval['Eventtime_timestamp'] = pd.to_datetime(df_eval['Eventtime'],unit='ms')

In [38]:
df_eval_Wallet = pd.merge(df_eval,df_WBalance,how = 'left', left_on = ["Uid"] ,right_on = ["Uid"])
df_eval_Wallet[' Timestamp'] = pd.to_datetime(df_eval_Wallet[' Timestamp'])
df_eval_Wallet['time_diff']=df_eval_Wallet['Eventtime_timestamp']-df_eval_Wallet[' Timestamp']
df_eval_Wallet=df_eval_Wallet[df_eval_Wallet['time_diff']>'0 days 00:00:00.00000']
df_eval_Wallet=df_eval_Wallet.sort_values(by=['Uid','time_diff'])
df_eval_Wallet['row_num_wallet_balance'] = df_eval_Wallet.groupby(['Uid']).cumcount()+1
df_eval_Wallet.head()

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Installed_At,Connection_Type,...,City,Postal_Code,Language,Device_Name,Device_Type,Eventtime_timestamp,Timestamp,Wallet_Balance,time_diff,row_num_wallet_balance
63917,0012CB6DA8CB360BA4ACC6A40F2C5E7D,1.609400e+12,NaN,NaN,NaN,NaN,NaN,NaN,1.608277e+09,Cellular,...,Lucknow,226002,en,LenovoA2010-a,phone,2020-12-31 07:33:20,2020-12-31 06:19:58,35.0,0 days 01:13:22,1
63916,0012CB6DA8CB360BA4ACC6A40F2C5E7D,1.609400e+12,NaN,NaN,NaN,NaN,NaN,NaN,1.608277e+09,Cellular,...,Lucknow,226002,en,LenovoA2010-a,phone,2020-12-31 07:33:20,2020-12-31 06:10:22,33.0,0 days 01:22:58,2
63915,0012CB6DA8CB360BA4ACC6A40F2C5E7D,1.609400e+12,NaN,NaN,NaN,NaN,NaN,NaN,1.608277e+09,Cellular,...,Lucknow,226002,en,LenovoA2010-a,phone,2020-12-31 07:33:20,2020-12-30 12:52:55,34.0,0 days 18:40:25,3
63914,0012CB6DA8CB360BA4ACC6A40F2C5E7D,1.609400e+12,NaN,NaN,NaN,NaN,NaN,NaN,1.608277e+09,Cellular,...,Lucknow,226002,en,LenovoA2010-a,phone,2020-12-31 07:33:20,2020-12-30 12:42:33,32.0,0 days 18:50:47,4
63913,0012CB6DA8CB360BA4ACC6A40F2C5E7D,1.609400e+12,NaN,NaN,NaN,NaN,NaN,NaN,1.608277e+09,Cellular,...,Lucknow,226002,en,LenovoA2010-a,phone,2020-12-31 07:33:20,2020-12-30 12:16:55,33.0,0 days 19:16:25,5

In [576]:
df_eval_Wallet[' Wallet_Balance']

63917     35.0
63916     33.0
63915     34.0
63914     32.0
63913     33.0
          ...
195602    17.0
195601    27.0
195600    22.0
195599    12.0
195598    10.0
Name:  Wallet_Balance, Length: 367830, dtype: float64

In [62]:
# 1377582EB1AFE28F28AD64058F911D91
df_train = pd.read_csv('train_data_4_except_first_game.csv')
df_train[df_train.Uid=='BE2136A2946556796076BDBA710583A0']

,Uid,Eventtime_timestamp,Entry_Fee,Win_Loss,Winnings,Tournament_Type,Num_Players,game_time_min_x,Wallet_Balance_x,Game_category_x,...,C_cumulative_count,D_winning_cumsum,D_wins_entry_fee_sum,D_loss_entry_fee_sum,D_loss_previous_count,D_wins_previous_count,D_cumulative_count,recent_entry_fee,recent_tournament,recent_num_players
55601,BE2136A2946556796076BDBA710583A0,2020-12-30 12:55:46.833,1.0,W,2.0,A,2,9.880550,13.0,A_1.0,...,0,0.0,0,0,0,0,0,1.0,A,2.0
55602,BE2136A2946556796076BDBA710583A0,2020-12-31 05:31:15.874,1.0,W,2.0,A,2,8.497900,16.0,A_1.0,...,0,0.0,0,0,0,0,0,1.0,A,2.0
110949,BE2136A2946556796076BDBA710583A0,2020-12-31 05:20:46.631,5.0,W,6.5,D,4,10.677183,15.0,D_5.0,...,0,12.5,8,0,0,1,1,1.0,A,2.0

In [63]:
df_eval[df_eval.Uid == 'BE2136A2946556796076BDBA710583A0']

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Installed_At,Connection_Type,...,Device_Manufacturer,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type,Eventtime_timestamp
124,BE2136A2946556796076BDBA710583A0,1.609390e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 04:46:40

In [691]:
df_eval['Eventtime_timestamp'] = pd.to_datetime(df_eval['Eventtime'],unit='ms')

class MakingInputFormat:

    def __init__(self,Wallet_Balance_name = "Wallet_Balance.csv"
                     ,df_train_name = 'train_data_4_except_first_game.csv'
                     ,demographic_data_name = "Demographic.csv" ):
        
        curr_dir = Path.cwd()
        self.df_WBalance = pd.read_csv(Path.joinpath(curr_dir,Wallet_Balance_name))
        self.df_train = pd.read_csv(Path.joinpath(curr_dir,df_train_name))
        self.df_demographic = pd.read_csv(Path.joinpath(curr_dir,demographic_data_name))

    def __making_input_data__(self,row):

        df_user_wallet = self.df_WBalance[self.df_WBalance.Uid ==  row.Uid]
        df_user_wallet["Eventtime_timestamp"] = row.Eventtime_timestamp
        df_user_wallet[' Timestamp'] = pd.to_datetime(df_user_wallet[' Timestamp'])
        df_user_wallet['time_diff']=df_user_wallet['Eventtime_timestamp']-df_eval_Wallet[' Timestamp']
        df_user_wallet=df_user_wallet[df_user_wallet['time_diff']>'0 days 00:00:00.00000']
        df_user_wallet=df_user_wallet.sort_values(by=['Uid','time_diff'])
        df_user_wallet['row_num_wallet_balance'] = df_user_wallet.groupby(['Uid']).cumcount()+1
        df_user_wallet["game_time_min"] = df_user_wallet[df_user_wallet.row_num_wallet_balance == 1]['time_diff'].dt.total_seconds().div(60)
        df_user_wallet["Wallet_Balance"] = df_user_wallet[df_user_wallet.row_num_wallet_balance == 2][' Wallet_Balance']


        df_train = self.df_train[self.df_train['Uid'] == row.Uid]

        if len(df_train)>0 and len(df_user_wallet)>0:
            try:
                wallet_balance = df_user_wallet[df_user_wallet.row_num_wallet_balance == 2][' Wallet_Balance'].values[0]
            except:
                wallet_balance = np.nan
            try:
                game_time_min = df_user_wallet[df_user_wallet.row_num_wallet_balance == 1]['time_diff'].dt.total_seconds().div(60).values[0]
            except:
                game_time_min = np.nan

            df_user_wallet = df_user_wallet[['Uid','Eventtime_timestamp',"Wallet_Balance","game_time_min"]].iloc[:1,:]
            df_train = pd.concat([df_train,df_user_wallet],axis = 0).reset_index().drop(columns= 'index')
            df_train["user_type"] = "previous"
            df_train.loc[df_train.index[-1], 'row_num'] = df_train.loc[df_train.index[-2], 'row_num']+1
            df_train.loc[df_train.index[-1], 'recent_entry_fee'] = df_train.loc[df_train.index[-2], 'Entry_Fee']
            df_train.loc[df_train.index[-1], 'recent_tournament'] = df_train.loc[df_train.index[-2], 'Tournament_Type']
            df_train.loc[df_train.index[-1], 'recent_num_players'] = df_train.loc[df_train.index[-2], 'Num_Players']
            df_train.loc[df_train.index[-1], 'cumulative_winning_sum'] = df_train.loc[df_train.index[-2], 'cumulative_winning_sum'] + df_train.loc[df_train.index[-2], 'Winnings']
            df_train.loc[df_train.index[-1], "Wallet_Balance_x"] = wallet_balance
            df_train.loc[df_train.index[-1], "game_time_min_x"] = game_time_min
            # print(df_train.loc[df_train.index[-1], "Wallet_Balance"])
            df_train.drop(columns = ['Wallet_Balance',"game_time_min"],inplace =True)
            # print(df_user_wallet[['Uid','Eventtime_timestamp',"Wallet_Balance","game_time_min"]].iloc[:1,:])
            
            
            for item in ["A","B","C","D"]:
                if item == df_train.loc[df_train.index[-2], 'Tournament_Type']:
                    df_train.loc[df_train.index[-1], item +'_winning_cumsum'] = df_train.loc[df_train.index[-2], item +'_winning_cumsum'] + df_train.loc[df_train.index[-2],'Winnings']
                    df_train.loc[df_train.index[-1], item +'_cumulative_count'] = df_train[df_train.Tournament_Type == item][item +'_cumulative_count'].max()+1
                    
                    if df_train.loc[df_train.index[-2], 'Win_Loss'] == 'W':
                        df_train.loc[df_train.index[-1], item +'_wins_entry_fee_sum'] = df_train.loc[df_train.index[-2], item +'_wins_entry_fee_sum'] + df_train.loc[df_train.index[-2],'Entry_Fee']
                        df_train.loc[df_train.index[-1], item +'_loss_entry_fee_sum'] = df_train[df_train.Tournament_Type == item][item +'_loss_entry_fee_sum'].max()
                        df_train.loc[df_train.index[-1], item +'_wins_previous_count'] = df_train[df_train.Tournament_Type == item][item +'_wins_previous_count'].max()+1
                    else:
                        df_train.loc[df_train.index[-1], item +'_loss_entry_fee_sum'] = df_train.loc[df_train.index[-2], item +'_loss_entry_fee_sum'] + df_train.loc[df_train.index[-2], 'Entry_Fee']
                        df_train.loc[df_train.index[-1], item +'_wins_entry_fee_sum'] = df_train[df_train.Tournament_Type == item][item +'_wins_entry_fee_sum'].max()
                        df_train.loc[df_train.index[-1], item +'_loss_previous_count'] = df_train[df_train.Tournament_Type == item][item +'_loss_previous_count'].max()+1

                else:
                    df_train.loc[df_train.index[-1], item +'_winning_cumsum'] = df_train[df_train.Tournament_Type == item][item +'_winning_cumsum'].max()
                    df_train.loc[df_train.index[-1], item +'_cumulative_count'] = df_train[df_train.Tournament_Type == item][item +'_cumulative_count'].max()
                    df_train.loc[df_train.index[-1], item +'_wins_entry_fee_sum'] = df_train[df_train.Tournament_Type == item][item +'_wins_entry_fee_sum'].max()
                    df_train.loc[df_train.index[-1], item +'_loss_entry_fee_sum'] = df_train[df_train.Tournament_Type == item][item +'_loss_entry_fee_sum'].max()

        else:
            Dict = {}
            for item in [list(df_train.columns) + ["user_type"]][0]:
                Dict[item] = [np.nan]
            df_train = pd.DataFrame.from_dict(Dict)
            df_train.user_type = 'new'
            df_train.Uid = row.Uid
            df_train.Eventtime_timestamp = row.Eventtime_timestamp
            
        return df_train.iloc[-1:,:].iloc[0]
        
making_input = MakingInputFormat()

In [692]:
temp = df_eval.copy()

In [693]:
# from pandarallel import pandarallel

# pandarallel.initialize()
df_eval.shape,df_eval.drop_duplicates().shape

((7119, 50), (7119, 50))

In [694]:
temp1= temp.iloc[:10,:]
temp1

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Eventtime_timestamp,Entry_Fee,...,D_winning_cumsum,D_wins_entry_fee_sum,D_loss_entry_fee_sum,D_loss_previous_count,D_wins_previous_count,D_cumulative_count,recent_entry_fee,recent_tournament,recent_num_players,user_type
0,1377582EB1AFE28F28AD64058F911D91,1.608350e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-19 03:53:20,NaN,...,35.5,50.0,45.0,NaN,NaN,3.0,10.0,B,4.0,previous
1,1992260F4E6BD26D4AFB38CCA2CCFF7C,1.608370e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-19 09:26:40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new
2,6B9DC6F7D89E588920D075145D219DB5,1.609450e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 21:26:40,NaN,...,41.5,37.0,0.0,NaN,NaN,1.0,250.0,A,2.0,previous
3,E52285CA2EAD4BA60833D69FC3074A98,1.608980e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-26 10:53:20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new
4,8019DE142932B081761809ED13434F57,1.609420e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 13:06:40,NaN,...,43.0,46.0,0.0,NaN,2.0,2.0,5.0,D,4.0,previous
5,C89EBF8AC4E984FB3EE3C5BD952FEF6D,1.609150e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-28 10:06:40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new
6,036AE9E68E5A1F384AC293752EB9B6A9,1.608020e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-15 08:13:20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new
7,60CE7EC79D7E665985E61D73F52AEEDF,1.607880e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-13 17:20:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,new
8,9A5D5C6547697F9DF62572436C8A32D7,1.608050e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-15 16:33:20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,A,2.0,previous
9,83260ACE1D7276D734B2621CC702FB6D,1.609430e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 15:53:20,NaN,...,155.5,173.0,183.0,9.0,NaN,16.0,5.0,D,4.0,previous

In [695]:
import warnings
warnings.filterwarnings('ignore')
df_eval[list(df_train.columns) + ["user_type"]] = df_eval[['Uid','Eventtime_timestamp']].parallel_apply(making_input.__making_input_data__,axis = 1)

In [696]:
df_eval["user_type"].value_counts()

previous    4735
new         2384
Name: user_type, dtype: int64

In [697]:
df_eval.to_csv("./eval_data_set.csv",index = False)

In [702]:
eval_df = pd.read_csv("./eval_data_set.csv")

In [704]:
df_eval[df_eval.Uid == '1377582EB1AFE28F28AD64058F911D91']["Wallet_Balance_x"]

0    2.0
Name: Wallet_Balance_x, dtype: float64

In [805]:
import pickle
from sklearn.cluster import KMeans

class LoadCatBoostModel:
    def __init__(self,model_path="./Tournament_classifier_val_acc_0.97_first_game_removed"):
        self.clf_catboost = CatBoostClassifier()
        try:
            self.clf_catboost.load_model(model_path)
        except Exception as e:
            raise e
    def __split_array__(self,arr):
        tournament = []
        entry_fee = []
        for item in arr:
            split = item.split("_")
            tournament.append(split[0])
            entry_fee.append(split[1])
        return tournament+entry_fee
            
    # Returns a pandas series of array eg:['A_25.0', 'A_50.0', 'C_25.0']
    def cat_predict(self,row):
        class_prob = np.argsort(self.clf_catboost.predict_proba(row))[::-1][:3]
        return pd.Series(self.__split_array__(self.clf_catboost.classes_[class_prob]))

class LoadKmeans:

    def __init__(self,model_path = "./clustering_model.pkl"
                ,city_tier_path = "./city_tier.csv"):

        self.kmeans = pickle.load(open("clustering_model.pkl", 'rb'))

        self.city_tier = pd.read_csv(city_tier_path)

        self.clusters = pd.read_csv("./clustering_classes_map.csv")

        self.encoding_connection_type=pd.read_pickle('./encoding_connection_type.pkl')
        self.encoding_cpu_type=pd.read_pickle('./encoding_Cpu_Type.pkl')
        self.encoding_network_type=pd.read_pickle('./encoding_Network_Type.pkl')
        self.encoding_isp=pd.read_pickle('./encoding_ISP.pkl')
        
        self.encoding_country_subdivision=pd.read_pickle('./encoding_Country_Subdivision.pkl')
        self.encoding_language=pd.read_pickle('./encoding_Language.pkl')
        self.encoding_device_type=pd.read_pickle('./encoding_Device_Type.pkl')
        self.encoding_device_name=pd.read_pickle('./encoding_Device_Name.pkl')
        
        self.encoding_encoding_device_manufacturer=pd.read_pickle('./encoding_Device_Manufacturer.pkl')
        
        self.encoding_postal_code=pd.read_pickle('./encoding_Postal_Code.pkl')
        self.encoding_city_tier=pd.read_pickle('./encoding_city_tier.pkl')

    def __predict_city_tier__(self,row):
            try:
                result = self.city_tier[self.city_tier.City == row.City]['city_tier'].values[0]
            except:
                result = 'Tier_1'
            return result

    def cluster_predict(self,df):
        df['city_tier'] = df.apply(self.__predict_city_tier__,axis = 1)
        df=df.merge(self.encoding_connection_type,on='Connection_Type')
        df=df.merge(self.encoding_cpu_type,on='Cpu_Type')
        df=df.merge(self.encoding_network_type,on='Network_Type')
        df=df.merge(self.encoding_isp,on='ISP')
        
        df=df.merge(self.encoding_country_subdivision,on='Country_Subdivision')
        df=df.merge(self.encoding_language,on='Language')
        df=df.merge(self.encoding_device_type,on='Device_Type')
        df=df.merge(self.encoding_device_name,on='Device_Name')
        df=df.merge(self.encoding_encoding_device_manufacturer,on='Device_Manufacturer')
        
        df=df.merge(self.encoding_postal_code,on='Postal_Code')
        df=df.merge(self.encoding_city_tier,on='city_tier')

        df['label'] = self.kmeans.fit_predict(df[['Connection_Type_frequency_encoded', 'Cpu_Type_frequency_encoded',
                                                   'Network_Type_frequency_encoded', 'ISP_frequency_encoded',
                                                   'Country_Subdivision_frequency_encoded', 'Language_frequency_encoded',
                                                   'Device_Type_frequency_encoded',
                                                   'Device_Manufacturer_frequency_encoded',
                                                   'Device_Name_frequency_encoded',
                                                   'Postal_Code_frequency_encoded', 'city_tier_frequency_encoded']])

        df[['Tournament_recommendation_1'
           ,'Tournament_recommendation_2'
           ,'Tournament_recommendation_3'
           ,'EntryFee_recommendation_1'
           ,'EntryFee_recommendation_2'
           ,'EntryFee_recommendation_3']] = df[['label']].apply(self.__category_pred__,axis = 1)

        return df

    def __split_array__(self,arr):
        tournament = []
        entry_fee = []
        for item in arr:
            split = item.split("_")
            tournament.append(split[0])
            entry_fee.append(split[1])
        return tournament+entry_fee

    def __category_pred__(self,row):     
        return pd.Series(self.__split_array__(self.clusters[str(row.label)].tolist()))

In [806]:
clf_catboost = LoadCatBoostModel()
clus_Kmeans = LoadKmeans()

In [707]:
df_eval_prev = df_eval[df_eval.user_type == "previous"]
df_eval_prev.shape

(4735, 50)

In [708]:
df_eval_prev.columns

Index(['Uid', 'Eventtime', 'Tournament_recommendation_1',
       'EntryFee_recommendation_1', 'Tournament_recommendation_2',
       'EntryFee_recommendation_2', 'Tournament_recommendation_3',
       'EntryFee_recommendation_3', 'Eventtime_timestamp', 'Entry_Fee',
       'Win_Loss', 'Winnings', 'Tournament_Type', 'Num_Players',
       'game_time_min_x', 'Wallet_Balance_x', 'Game_category_x', 'row_num',
       'game_time_min_y', 'Wallet_Balance_y', 'Game_category_y',
       'cumulative_winning_sum', 'A_winning_cumsum', 'A_wins_entry_fee_sum',
       'A_loss_entry_fee_sum', 'A_loss_previous_count',
       'A_wins_previous_count', 'A_cumulative_count', 'B_winning_cumsum',
       'B_wins_entry_fee_sum', 'B_loss_entry_fee_sum', 'B_loss_previous_count',
       'B_wins_previous_count', 'B_cumulative_count', 'C_winning_cumsum',
       'C_wins_entry_fee_sum', 'C_loss_entry_fee_sum', 'C_loss_previous_count',
       'C_wins_previous_count', 'C_cumulative_count', 'D_winning_cumsum',
       'D_wins_entry_fee_sum', 'D_loss_entry_fee_sum', 'D_loss_previous_count',
       'D_wins_previous_count', 'D_cumulative_count', 'recent_entry_fee',
       'recent_tournament', 'recent_num_players', 'user_type'],
      dtype='object')

In [709]:
df_eval_prev.rename(columns = {'game_time_min_x':'game_time_min'
                               , 'Wallet_Balance_x':'Wallet_Balance'
                               , 'Game_category_x':"Game_category"},inplace = True)
df_eval_prev.drop(columns = ['game_time_min_y', 'Wallet_Balance_y', 'Game_category_y'],inplace = True)

In [710]:
df_eval_prev.columns

Index(['Uid', 'Eventtime', 'Tournament_recommendation_1',
       'EntryFee_recommendation_1', 'Tournament_recommendation_2',
       'EntryFee_recommendation_2', 'Tournament_recommendation_3',
       'EntryFee_recommendation_3', 'Eventtime_timestamp', 'Entry_Fee',
       'Win_Loss', 'Winnings', 'Tournament_Type', 'Num_Players',
       'game_time_min', 'Wallet_Balance', 'Game_category', 'row_num',
       'cumulative_winning_sum', 'A_winning_cumsum', 'A_wins_entry_fee_sum',
       'A_loss_entry_fee_sum', 'A_loss_previous_count',
       'A_wins_previous_count', 'A_cumulative_count', 'B_winning_cumsum',
       'B_wins_entry_fee_sum', 'B_loss_entry_fee_sum', 'B_loss_previous_count',
       'B_wins_previous_count', 'B_cumulative_count', 'C_winning_cumsum',
       'C_wins_entry_fee_sum', 'C_loss_entry_fee_sum', 'C_loss_previous_count',
       'C_wins_previous_count', 'C_cumulative_count', 'D_winning_cumsum',
       'D_wins_entry_fee_sum', 'D_loss_entry_fee_sum', 'D_loss_previous_count',
       'D_wins_previous_count', 'D_cumulative_count', 'recent_entry_fee',
       'recent_tournament', 'recent_num_players', 'user_type'],
      dtype='object')

In [711]:
print(df_eval_prev.shape)
df_eval_prev = pd.merge(df_eval_prev,df_demographic.drop_duplicates().dropna(subset=['Connection_Type', 'Cpu_Type', 'Network_Type'
                                                                               , 'Device_Manufacturer','ISP', 'Country'
                                                                               , 'Country_Subdivision', 'City', 'Postal_Code',
                                                                               'Language', 'Device_Name', 'Device_Type'])
                      ,how = "left",
                      left_on = "Uid",right_on = "Uid")
df_eval_prev.shape

(4735, 47)

(4737, 60)

In [712]:
df_eval_prev['Installed_At_timestamp'] = pd.to_datetime(df_eval_prev['Installed_At'],unit='ms')
df_eval_prev['Eventtime_timestamp'] = pd.to_datetime(df_eval_prev['Eventtime_timestamp'])
df_eval_prev['age_of_installation'] = df_eval_prev['Eventtime_timestamp'] - df_eval_prev['Installed_At_timestamp']
df_eval_prev['age_of_installation'] = df_eval_prev['age_of_installation'].dt.total_seconds().div(60)
df_eval_prev['age_of_installation']
df_eval_prev.head()

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Eventtime_timestamp,Entry_Fee,...,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type,Installed_At_timestamp,age_of_installation
0,1377582EB1AFE28F28AD64058F911D91,1.608350e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-19 03:53:20,NaN,...,Idea Cellular,in,Madhya Pradesh,Indore,452003,en,C11,phone,1970-01-19 14:31:21.368,2.677904e+07
1,6B9DC6F7D89E588920D075145D219DB5,1.609450e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 21:26:40,NaN,...,Jio,in,West Bengal,Kolkata,700006,en,vivo1811,phone,1970-01-19 14:56:14.105,2.679735e+07
2,8019DE142932B081761809ED13434F57,1.609420e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 13:06:40,NaN,...,Airtel,in,West Bengal,Kolkata,700006,en,3,phone,1970-01-19 14:22:53.287,2.679688e+07
3,9A5D5C6547697F9DF62572436C8A32D7,1.608050e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-15 16:33:20,NaN,...,Jio,in,Maharashtra,Pune,411002,en,3,phone,1970-01-19 14:38:59.943,2.677403e+07
4,83260ACE1D7276D734B2621CC702FB6D,1.609430e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-31 15:53:20,NaN,...,Jio,in,Haryana,Karnal,132001,en,vivoY51L,phone,1970-01-19 14:46:35.605,2.679703e+07

In [713]:
eval_prev = df_eval_prev[['Wallet_Balance', 'row_num', 'cumulative_winning_sum',
                           'A_winning_cumsum', 'A_wins_entry_fee_sum', 'A_loss_entry_fee_sum',
                           'A_loss_previous_count', 'A_wins_previous_count', 'A_cumulative_count',
                           'B_winning_cumsum', 'B_wins_entry_fee_sum', 'B_loss_entry_fee_sum',
                           'B_loss_previous_count', 'B_wins_previous_count', 'B_cumulative_count',
                           'C_winning_cumsum', 'C_wins_entry_fee_sum', 'C_loss_entry_fee_sum',
                           'C_loss_previous_count', 'C_wins_previous_count', 'C_cumulative_count',
                           'D_winning_cumsum', 'D_wins_entry_fee_sum', 'D_loss_entry_fee_sum',
                           'D_loss_previous_count', 'D_wins_previous_count', 'D_cumulative_count',
                           'recent_entry_fee', 'recent_tournament', 'recent_num_players',
                           'Connection_Type', 'Cpu_Type', 'Network_Type', 'Device_Manufacturer',
                           'ISP', 'Country', 'Country_Subdivision', 'City', 'Postal_Code',
                           'Language', 'Device_Name', 'Device_Type', 'age_of_installation']]

In [735]:
eval_prev["ISP"].mode()[0]

'Jio'

In [737]:
pd.set_option('display.max_rows', 500)
# eval_prev = eval_prev.fillna(eval_prev.median())
for item in eval_prev.columns:
    if len(eval_prev[eval_prev[item].isna()])>0:
        eval_prev[item] = eval_prev[item].fillna(eval_prev[item].mode()[0])
eval_prev.isnull().any()

Wallet_Balance            False
row_num                   False
cumulative_winning_sum    False
A_winning_cumsum          False
A_wins_entry_fee_sum      False
A_loss_entry_fee_sum      False
A_loss_previous_count     False
A_wins_previous_count     False
A_cumulative_count        False
B_winning_cumsum          False
B_wins_entry_fee_sum      False
B_loss_entry_fee_sum      False
B_loss_previous_count     False
B_wins_previous_count     False
B_cumulative_count        False
C_winning_cumsum          False
C_wins_entry_fee_sum      False
C_loss_entry_fee_sum      False
C_loss_previous_count     False
C_wins_previous_count     False
C_cumulative_count        False
D_winning_cumsum          False
D_wins_entry_fee_sum      False
D_loss_entry_fee_sum      False
D_loss_previous_count     False
D_wins_previous_count     False
D_cumulative_count        False
recent_entry_fee          False
recent_tournament         False
recent_num_players        False
Connection_Type           False
Cpu_Type                  False
Network_Type              False
Device_Manufacturer       False
ISP                       False
Country                   False
Country_Subdivision       False
City                      False
Postal_Code               False
Language                  False
Device_Name               False
Device_Type               False
age_of_installation       False
dtype: bool

In [738]:
df_eval_prev[['Tournament_recommendation_1'
               ,'Tournament_recommendation_2'
               , 'Tournament_recommendation_3'
               ,'EntryFee_recommendation_1'
               ,'EntryFee_recommendation_2'
               ,'EntryFee_recommendation_3']] = eval_prev.apply(clf_catboost.cat_predict,axis = 1)
df_eval_prev

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Eventtime_timestamp,Entry_Fee,...,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type,Installed_At_timestamp,age_of_installation
0,1377582EB1AFE28F28AD64058F911D91,1.608350e+12,C,10.0,D,15.0,C,25.0,2020-12-19 03:53:20,NaN,...,Idea Cellular,in,Madhya Pradesh,Indore,452003,en,C11,phone,1970-01-19 14:31:21.368,2.677904e+07
1,6B9DC6F7D89E588920D075145D219DB5,1.609450e+12,A,250.0,A,100.0,A,500.0,2020-12-31 21:26:40,NaN,...,Jio,in,West Bengal,Kolkata,700006,en,vivo1811,phone,1970-01-19 14:56:14.105,2.679735e+07
2,8019DE142932B081761809ED13434F57,1.609420e+12,C,10.0,D,15.0,C,25.0,2020-12-31 13:06:40,NaN,...,Airtel,in,West Bengal,Kolkata,700006,en,3,phone,1970-01-19 14:22:53.287,2.679688e+07
3,9A5D5C6547697F9DF62572436C8A32D7,1.608050e+12,A,1.0,C,10.0,B,10.0,2020-12-15 16:33:20,NaN,...,Jio,in,Maharashtra,Pune,411002,en,3,phone,1970-01-19 14:38:59.943,2.677403e+07
4,83260ACE1D7276D734B2621CC702FB6D,1.609430e+12,C,10.0,D,15.0,B,10.0,2020-12-31 15:53:20,NaN,...,Jio,in,Haryana,Karnal,132001,en,vivoY51L,phone,1970-01-19 14:46:35.605,2.679703e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,F724CAB026C29F1D22682FFAB772CF17,1.607860e+12,C,10.0,D,15.0,B,10.0,2020-12-13 11:46:40,NaN,...,Idea Cellular,in,Maharashtra,Pune,411038,en,vivo1933,phone,1970-01-19 14:27:52.780,2.677088e+07
4733,7E39B18A2AA5CEA6E66E1C4FF22F3F72,1.608640e+12,A,100.0,C,100.0,C,50.0,2020-12-22 12:26:40,NaN,...,Airtel,in,Maharashtra,Virar,401303,en,InfinixX650C,phone,1970-01-19 14:34:26.092,2.678387e+07
4734,A2923F83BA0092B3DF2651B4254A8A7B,1.609260e+12,C,10.0,D,15.0,A,25.0,2020-12-29 16:40:00,NaN,...,Jio,in,National Capital Territory of Delhi,New Delhi,110008,en,M2006C3MI,phone,1970-01-19 14:49:29.740,2.679419e+07
4735,D3A05E8E7E7FCAC559DE29C0E9937F5D,1.609320e+12,C,10.0,C,25.0,D,15.0,2020-12-30 09:20:00,NaN,...,Alliance Broadband Services Pvt.,in,West Bengal,Kolkata,700028,en,vivo1909,phone,1970-01-19 14:38:42.788,2.679520e+07
4736,C4A9491D09F847277CEC6114C7C366AF,1.609180e+12,C,10.0,D,15.0,C,25.0,2020-12-28 18:26:40,NaN,...,Jio,in,Madhya Pradesh,Indore,452001,en,vivo1901,phone,1970-01-19 14:49:00.335,2.679286e+07

In [740]:
df_eval_prev.to_csv("./prev_user_evaluation_predicted.csv",index = False)

In [744]:
eval_new = df_eval[df_eval.user_type == "new"]
eval_new.shape

(2384, 50)

In [749]:
eval_new.rename(columns = {'game_time_min_x':'game_time_min'
                               , 'Wallet_Balance_x':'Wallet_Balance'
                               , 'Game_category_x':"Game_category"},inplace = True)
eval_new.drop(columns = ['game_time_min_y', 'Wallet_Balance_y', 'Game_category_y'],inplace = True)

In [750]:
print(eval_new.shape)
eval_new = pd.merge(eval_new,df_demographic.drop_duplicates().dropna(subset=['Connection_Type', 'Cpu_Type', 'Network_Type'
                                                                               , 'Device_Manufacturer','ISP', 'Country'
                                                                               , 'Country_Subdivision', 'City', 'Postal_Code',
                                                                               'Language', 'Device_Name', 'Device_Type'])
                      ,how = "left",
                      left_on = "Uid",right_on = "Uid")
eval_new.shape

(2384, 47)

(2386, 60)

In [751]:
eval_new['Installed_At_timestamp'] = pd.to_datetime(eval_new['Installed_At'],unit='ms')
eval_new['Eventtime_timestamp'] = pd.to_datetime(eval_new['Eventtime_timestamp'])
eval_new['age_of_installation'] = eval_new['Eventtime_timestamp'] - eval_new['Installed_At_timestamp']
eval_new['age_of_installation'] = eval_new['age_of_installation'].dt.total_seconds().div(60)
eval_new['age_of_installation']
eval_new.head()

,Uid,Eventtime,Tournament_recommendation_1,EntryFee_recommendation_1,Tournament_recommendation_2,EntryFee_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_3,Eventtime_timestamp,Entry_Fee,...,ISP,Country,Country_Subdivision,City,Postal_Code,Language,Device_Name,Device_Type,Installed_At_timestamp,age_of_installation
0,1992260F4E6BD26D4AFB38CCA2CCFF7C,1.608370e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-19 09:26:40,NaN,...,Tikona Infinet,in,Rajasthan,Jaipur,302039,hi,MotoG(3rdGen),phone,1970-01-19 14:46:13.130,2.677936e+07
1,E52285CA2EAD4BA60833D69FC3074A98,1.608980e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-26 10:53:20,NaN,...,Vodafone India,in,Gujarat,Palanpur,385001,en,A57,phone,1970-01-19 14:51:50.633,2.678952e+07
2,C89EBF8AC4E984FB3EE3C5BD952FEF6D,1.609150e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-28 10:06:40,NaN,...,Jio,in,Maharashtra,Pune,411005,en,vivoY21L,phone,1970-01-19 14:53:31.868,2.679235e+07
3,036AE9E68E5A1F384AC293752EB9B6A9,1.608020e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-15 08:13:20,NaN,...,Jio,in,West Bengal,Kolkata,700028,en,C3,phone,1970-01-19 14:40:19.428,2.677353e+07
4,60CE7EC79D7E665985E61D73F52AEEDF,1.607880e+12,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-13 17:20:00,NaN,...,Airtel,in,Uttar Pradesh,Lucknow,226002,en,Redmi8ADual,phone,1970-01-19 14:30:33.396,2.677121e+07

In [807]:
eval_new['City'].value_counts()

Kolkata              211
Jaipur               204
Patna                171
Lucknow              170
Delhi                160
New Delhi            128
Pune                 119
Ahmedabad            105
Hyderabad             92
Bengaluru             89
Indore                70
Bhopal                66
Bhubaneswar           63
Mumbai                58
Ludhiana              31
Imphal                27
Guwahati              26
Jodhpur               26
Chennai               26
Ernakulam             21
Raipur                21
Ranchi                20
Srinagar              20
Shimla                16
Siliguri              13
Ramnagar              10
Surat                 10
Chandigarh            10
Jammu                  9
Mangalore              9
Gaya                   8
Kanpur                 8
Mysore                 8
Muzaffarpur            7
Alwar                  7
Coimbatore             7
Mohali                 7
Thrissur               7
Kochi                  6
Panipat                6
Dehradun               6
Vijayawada             6
Sonipat                5
Karnal                 5
Banka                  5
Varanasi               5
Meerut                 5
Trivandrum             5
Gorakhpur              4
Agra                   4
Nagpur                 4
Thane                  4
Ambala                 4
Tirupati               3
Gangtok                3
Siwan                  3
Faridabad              3
Godhra                 3
Balicha                3
Prayagraj              3
Gwalior                3
Noida                  3
Kozhikode              3
Sikar                  3
Kottayam               3
Jalandhar              2
Sitamarhi              2
Haldia                 2
Bhilwara               2
Hamirpur               2
Jamshedpur             2
Rajkot                 2
Bhiwani                2
Guntur                 2
Malda                  2
Malappuram             2
Vadodara               2
Gurgaon                2
Madhepura              2
Nathdwara              2
Tirunelveli            2
Sakroda                2
Jabalpur               2
Murshidabad            2
Mandi                  2
Alwal                  1
Mundamveli             1
Gandhinagar            1
Udaipur                1
Bijanwas               1
Dhanbad                1
Munger                 1
Tirupur                1
Begusarai              1
Badlapur               1
Bathinda               1
Saharsa                1
Vyttila                1
Howrah                 1
Jhajjar                1
Kaithal                1
Aligarh                1
Aurangabad             1
Palampur               1
Sangli                 1
Civil Lines            1
Patiala                1
Kanhangad              1
Mundka                 1
Bhusaval               1
Visakhapatnam          1
West New York          1
Kurukshetra            1
Balurghat              1
Araria                 1
Port Blair             1
Asansol                1
Unnao                  1
Bhilai                 1
Giridih                1
Shirpur                1
Pen                    1
Anantapur              1
Panampilly Nagar       1
Bhadesar               1
Reston                 1
Jadan                  1
Udupi                  1
Cuttack                1
Palanpur               1
Colva                  1
Korba                  1
Adkalia                1
Ochanthuruth           1
Kohima                 1
Kakkanad               1
Hubli                  1
Haridwar               1
Ghaziabad              1
Chiyyaram              1
Kollam                 1
Samastipur             1
Davangere              1
Badheri                1
Jaunpur                1
Naharlagun             1
Panchkula              1
Samalkha               1
Gopalganj              1
Waraseoni              1
Bolpur                 1
Navsari                1
Shimoga                1
Rohtak                 1
Khurja                 1
Dungarpur              1
Karimnagar             1
Rajsamand              1
Avaragere              1
Amritsar               1
Leh                    1
Mechcheri              1
Nashik                 1
Gogunda                1
Didwana                1
Frankfurt am Main      1
Name: City, dtype: int64

In [808]:
feature_matrix = eval_new[['Uid','Eventtime','Wallet_Balance','Connection_Type', 'Cpu_Type', 'Network_Type',
                                       'Device_Manufacturer', 'ISP', 'Country', 'Country_Subdivision', 'City',
                                       'Postal_Code', 'Language', 'Device_Name', 'Device_Type']]

In [809]:
print(feature_matrix.isnull().any())
feature_matrix = feature_matrix.fillna(eval_prev.median())
print(feature_matrix.isnull().any())
for item in feature_matrix.columns:
    if len(feature_matrix[feature_matrix[item].isna()])>0:
        print(item)
        feature_matrix[item] = feature_matrix[item].fillna(feature_matrix[item].mode()[0])
feature_matrix.isnull().any()

Uid                    False
Eventtime              False
Wallet_Balance         False
Connection_Type         True
Cpu_Type                True
Network_Type           False
Device_Manufacturer     True
ISP                     True
Country                 True
Country_Subdivision     True
City                    True
Postal_Code             True
Language                True
Device_Name             True
Device_Type             True
dtype: bool
Uid                    False
Eventtime              False
Wallet_Balance         False
Connection_Type         True
Cpu_Type                True
Network_Type           False
Device_Manufacturer     True
ISP                     True
Country                 True
Country_Subdivision     True
City                    True
Postal_Code             True
Language                True
Device_Name             True
Device_Type             True
dtype: bool
Connection_Type
Cpu_Type
Device_Manufacturer
ISP
Country
Country_Subdivision
City
Postal_Code
Language
Device_Name
Device_Type

Uid                    False
Eventtime              False
Wallet_Balance         False
Connection_Type        False
Cpu_Type               False
Network_Type           False
Device_Manufacturer    False
ISP                    False
Country                False
Country_Subdivision    False
City                   False
Postal_Code            False
Language               False
Device_Name            False
Device_Type            False
dtype: bool

In [817]:
feature_matrix.shape

(2386, 16)

In [810]:
eval_preds_new = clus_Kmeans.cluster_predict(feature_matrix)

In [811]:
eval_preds_new

,Uid,Eventtime,Wallet_Balance,Connection_Type,Cpu_Type,Network_Type,Device_Manufacturer,ISP,Country,Country_Subdivision,...,Device_Manufacturer_frequency_encoded,Postal_Code_frequency_encoded,city_tier_frequency_encoded,label,Tournament_recommendation_1,Tournament_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_1,EntryFee_recommendation_2,EntryFee_recommendation_3
0,1992260F4E6BD26D4AFB38CCA2CCFF7C,1.608370e+12,15.0,Cable/DSL,armeabi-v7a,13.0,Motorola,Tikona Infinet,in,Rajasthan,...,0.010543,0.003931,0.548964,8,A,A,D,1,10,5
1,8CFAD230BD1E9B5CB7022128DEE80023,1.608700e+12,15.0,Cellular,arm64-v8a,13.0,Xiaomi,Jio,in,Rajasthan,...,0.263939,0.003931,0.548964,5,A,A,D,1,10,5
2,35FFF0A9A0ED3EC1DE4EAC0EB39D91D5,1.608890e+12,15.0,Cellular,arm64-v8a,13.0,Xiaomi,Jio,in,Rajasthan,...,0.263939,0.003931,0.548964,1,A,A,A,1,10,35
3,E3D553371CBBA038EE2D2D152DEAA0CC,1.609080e+12,15.0,Cellular,armeabi-v7a,13.0,Xiaomi,Jio,in,Rajasthan,...,0.263939,0.003931,0.548964,2,A,A,A,1,10,35
4,6E3BB9ECA5E67B61BED7B2A5DFD79514,1.609040e+12,15.0,Cellular,armeabi-v7a,13.0,Samsung,Jio,in,Rajasthan,...,0.143317,0.003931,0.548964,2,A,A,A,1,10,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,76FD2491ACD1F68D7C2269C9657C6905,1.609340e+12,15.0,Cellular,arm64-v8a,0.0,Oppo,Jio,in,Punjab,...,0.142066,0.000715,0.258041,9,A,A,D,1,10,5
2211,DCEC0550F54AFC7E4AAE80E11CF9F817,1.609160e+12,15.0,Cellular,arm64-v8a,0.0,Realme,Airtel,in,Chhattisgarh,...,0.104539,0.000357,0.258041,9,A,A,D,1,10,5
2212,9D58D60A87FE6296CDDF3EE63CFE8E79,1.608130e+12,15.0,Cellular,arm64-v8a,13.0,Realme,Jio,in,Gujarat,...,0.104539,0.000536,0.258041,0,A,A,A,1,10,35
2213,A0E296945BC174F6234014F28CA4A851,1.609250e+12,15.0,Cellular,arm64-v8a,13.0,Oppo,Jio,in,Chhattisgarh,...,0.142066,0.000536,0.258041,0,A,A,A,1,10,35
2214,866303406428862AD9EDEFAA2DF9F971,1.608640e+12,15.0,Cellular,arm64-v8a,13.0,Oppo,Idea Cellular,in,Madhya Pradesh,...,0.142066,0.000536,0.258041,6,A,A,A,1,10,35

In [819]:
pd.merge(feature_matrix[['Uid','Eventtime']],eval_preds_new,how="left" ,left_on = ['Uid','Eventtime']
        ,right_on = ['Uid','Eventtime']).shape

(2390, 34)

In [814]:
df_final = pd.concat([eval_preds_new[['Uid'
                ,"Eventtime"
               ,'Tournament_recommendation_1'
               ,'Tournament_recommendation_2'
               ,'Tournament_recommendation_3'
               ,'EntryFee_recommendation_1'
               ,'EntryFee_recommendation_2'
               ,'EntryFee_recommendation_3']],df_eval_prev[['Uid'
                                                            ,"Eventtime"
                                                           ,'Tournament_recommendation_1'
                                                           ,'Tournament_recommendation_2'
                                                           ,'Tournament_recommendation_3'
                                                           ,'EntryFee_recommendation_1'
                                                           ,'EntryFee_recommendation_2'
                                                           ,'EntryFee_recommendation_3']]],ignore_index = True)

In [815]:
df_final.shape

(6952, 8)

In [816]:
df_final.Uid.nunique()

6948

In [820]:
df_eval.shape

(7119, 50)

In [822]:
pd.merge(df_eval[['Uid','Eventtime']],df_final,how='left'
        ,left_on = ['Uid','Eventtime'],right_on = ['Uid','Eventtime']).to_csv("./Data_Evaluation_prediction.csv",index = False)

In [823]:
pd.read_csv('./Data_Evaluation_prediction.csv')

,Uid,Eventtime,Tournament_recommendation_1,Tournament_recommendation_2,Tournament_recommendation_3,EntryFee_recommendation_1,EntryFee_recommendation_2,EntryFee_recommendation_3
0,1377582EB1AFE28F28AD64058F911D91,1.608350e+12,C,D,C,10.0,15.0,25.0
1,1992260F4E6BD26D4AFB38CCA2CCFF7C,1.608370e+12,A,A,D,1.0,10.0,5.0
2,6B9DC6F7D89E588920D075145D219DB5,1.609450e+12,A,A,A,250.0,100.0,500.0
3,E52285CA2EAD4BA60833D69FC3074A98,1.608980e+12,A,A,A,1.0,10.0,35.0
4,8019DE142932B081761809ED13434F57,1.609420e+12,C,D,C,10.0,15.0,25.0
...,...,...,...,...,...,...,...,...
7118,3D7CF9B13CD57CAE2FD51651F14627F8,1.608740e+12,A,A,A,1.0,10.0,35.0
7119,20F130C50FAEF6FFA37EA125D4876BAB,1.608820e+12,A,A,D,1.0,10.0,5.0
7120,A8C85EE34165EDEF18DA5269EAD69EDC,1.609310e+12,A,A,A,1.0,10.0,35.0
7121,BE5C7DB238680DF43F65089F3786287A,1.607590e+12,A,A,A,1.0,10.0,35.0
7122,52369DBF3FE9CCFADF58C8B7DE11D917,1.609270e+12,A,A,D,1.0,10.0,5.0